#burgerMenu {
    position: absolute;
    top: 0;
    right: 0;
    font-size: 50px;
  }
  
  #burgerMenu:hover + ul {
    display: block;
  }
  
  @media all and (min-width: 500px) {
    #burgerMenu {
      display: none;
    }

    li {
        display: inline;
        border: none;
        padding-right: 20px;
    }

    ul {
        padding-left: 30px;
    }
}

    @media all and (min-width: 600px) and (max-width: 1000px) {
        #burgerMenu {
          display: none;
        }

        li {
            display: inline;
            border: none;
            padding-right: 20px;
        }
    }